Package: com.ps.cameramodes
Name: CameraModes
Conflicts: org.thebigboss.cameramodes
Replaces: org.thebigboss.cameramodes
Provides: org.thebigboss.cameramodes
Depends: mobilesubstrate, preferenceloader, firmware (>= 14.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Specify available camera modes.
Author: PoomSmart
Maintainer: PoomSmart
Section: Tweaks
