Package: org.thebigboss.cameramodes
Name: CameraModes (Debug)
Conflicts: org.thebigboss.nosquare
Depends: mobilesubstrate, preferenceloader, firmware (>= 7.0)
Version: 1.1
Architecture: iphoneos-arm
Description: Specific available camera modes.
Author: PoomSmart
Section: Tweaks
