<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>CameraModes</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>CM.png</string>
      <key>label</key>
      <string>CameraModes</string>
    </dict>
    <key>items</key>
    <array>
     <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CameraModes</string>
        <key>key</key>
        <string>tweakEnabled</string>
        <key>label</key>
        <string>Enable Tweak</string>
        <key>PostNotification</key>
        <string>com.PS.CameraModes.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Available modes</string>
        <key>footerText</key>
        <string>Do not just disable all available modes, this causes camera crashing.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>id</key>
        <string>timelapse</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CameraModes</string>
        <key>key</key>
        <string>timelapseEnabled</string>
        <key>label</key>
        <string>Time-lapse</string>
        <key>PostNotification</key>
        <string>com.PS.CameraModes.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>id</key>
        <string>slomo</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CameraModes</string>
        <key>key</key>
        <string>slomoEnabled</string>
        <key>label</key>
        <string>Slo-mo</string>
        <key>PostNotification</key>
        <string>com.PS.CameraModes.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>id</key>
        <string>video</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CameraModes</string>
        <key>key</key>
        <string>videoEnabled</string>
        <key>label</key>
        <string>Video</string>
        <key>PostNotification</key>
        <string>com.PS.CameraModes.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>id</key>
        <string>photo</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CameraModes</string>
        <key>key</key>
        <string>photoEnabled</string>
        <key>label</key>
        <string>Photo</string>
        <key>PostNotification</key>
        <string>com.PS.CameraModes.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>id</key>
        <string>square</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CameraModes</string>
        <key>key</key>
        <string>squareEnabled</string>
        <key>label</key>
        <string>Square</string>
        <key>PostNotification</key>
        <string>com.PS.CameraModes.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>id</key>
        <string>pano</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CameraModes</string>
        <key>key</key>
        <string>panoEnabled</string>
        <key>label</key>
        <string>Panorama</string>
        <key>PostNotification</key>
        <string>com.PS.CameraModes.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerAlignment</key>
        <integer>1</integer>
        <key>footerText</key>
        <string>© 2013 - 2014 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
